<!DOCTYPE html>
<html lang="en">
<head>
<title>LTC-TMS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/basestyles.css" rel="stylesheet">
</head>
<body>
<div class="language">
<select>
	<option value="English">English</option>
    <option value="Chinese">Chinese</option>
</select>
</div>

{% block content%}{% endblock content%}

<script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyDDUOzOH-upflzZvvxeUU_Nsu5c33zbwBs",
		authDomain: "ltctms-399e4.firebaseapp.com",
		databaseURL: "https://ltctms-399e4.firebaseio.com",
		projectId: "ltctms-399e4",
		storageBucket: "",
		messagingSenderId: "229950806176"
	};
	firebase.initializeApp(config);
</script>
</body>
</html>
